<footer>
	<div class="main-footer" id="contact">
		<div class="container">
			<div class="columns">
				<div class="column one-third">
					<h4 class="widget-title">CORDH</h4>
					<div class="widget-content">
						<p>
							<a href="http://www.biblhertz.it">Rome</a> <br>
							<a href="https://itatti.harvard.edu/">Florence</a> <br>
							<a href="https://www.sari.uzh.ch/en.html">Zurich</a> <br>
							<a href="https://www.mpiwg-berlin.mpg.de">Berlin</a> <br>
						</p>
						<ul class="social">
							<li><a href="https://github.com/cordhum" target="_blank"><span class="fab fa-github"></span></a></li>
							<li><a href="https://twitter.com/" target="_blank"><span class="fab fa-twitter"></span></a></li>
							<li><a href="http://wiki.cordh.net/" target="_blank"><span class="fab fa-wikipedia-w"></span></a></li>
						</ul>
					</div>
				</div>
				<div class="column two-thirds">
					<h4 class="widget-title">Get in Touch</h4>
					<div class="widget-content">
						<form action="https://formspree.io/info@cordh.net" method="POST" class="contact-form">
							<div class="columns">
								<div class="column one-third">
									<input type="text" name="name" placeholder="Name">
									<input type="email" name="_replyto" placeholder="Email Address">
									<input type="text" name="_subject" placeholder="Subject">
								</div>
								<div class="column two-thirds">
									<textarea name="message" placeholder="Message" rows="5"></textarea>
									<div class="button-container">
										<button type="submit" class="button-alt">Send Message</button>
									</div>								
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="copyright">
		<p>&copy; 2018 CORDh</p>
	</div>
</footer>
<script defer src="https://use.fontawesome.com/releases/v5.2.0/js/all.js" integrity="sha384-4oV5EgaV02iISL2ban6c/RmotsABqE4yZxZLcYMAdG7FAPsyHYAPpywE9PJo+Khy" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@14/dist/smooth-scroll.polyfills.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/jquery"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script type="text/javascript" src="{{ "assets/js/main.js" | relative_url }}"></script>